body {
  margin: 0 auto;
}

.nav-section {
  background-color: salmon;
}

.nav-elements {
  margin: 0;
  display: flex;
  list-style: none;
}

.nav-element {
  margin-left: 10px;
  text-decoration: none;
  color: antiquewhite;
}
